*.Mark.user
*.XGD
*.mode1v3
*.mode2v3
*.ncb
*.opensdf
*.pbxuser
*.perspectivev3
*.sdf
*.suo
*.tmproj
*.vcxproj.user
.DS_Store
Build/
build/
ipch/
project.xcworkspace
pull.bat
push.bat
xcuserdata/
*.aps
